<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MartNextGen Shop</title>
    <link rel="stylesheet" href="css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
    <div id="app">
        <!-- (1) Tab Menu -->
        <nav class="navbar is-link" role="navigation" aria-label="main navigation">

            <!-- Logo -->
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h1 class="is-size-3 has-text-weight-semibold">{{shopName}}</h1>
                </div>
            </div>

            <!-- Menu -->
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="index.html" class="navbar-item">หน้าหลัก</a>
                    <!-- <a href="./index.html" class="navbar-item">Shop from Vue</a>
                    <a href="./checkout.html" class="navbar-item">Checkout</a> -->
                </div>

                <div class="navbar-end">
                    <!-- search -->
                    <div class="navbar-item">
                        <form class="search" action="/">
                            <div class="level-item">
                                <div class="field has-addons">
                                    <p class="control">
                                        <input class="input is-rounded" type="text" placeholder="Search...">
                                    </p>
                                    <p class="control">
                                        <button class="button is-warning is-rounded" type="submit" value="Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- ตะกร้า สินค้า -->
                    <a href="index.html" class="navbar-item is-size-4 px-5">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </a>

                    <!-- Login -->
                    <div class="navbar-item has-dropdown" :class="{'is-active':show_login}">
                        <a class="navbar-link" @click="show_login = !show_login">
                            <i class="fa fa-user-circle fa-2x px-2"></i>
                            <span>เข้าสู่ระบบ</span>
                        </a>

                        <div class="navbar-dropdown">
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="login.html">
                                <i class="fa fa-user fa-lg pr-5"></i>
                                เข้าสู่ระบบ
                            </a>
                            <a class="navbar-item" href="register.html">
                                <i class="fa fa-user-plus fa-lg pr-4"></i>
                                สมัครสมาชิก
                            </a>
                            <hr class="navbar-divider">
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- (2) ส่วน crad -->
        <div class="container is-max-desktop p-5">
            <div class="column pt-6 pl-0 pr-0">
                <!-- card cart component แสดงข้อมูลที่อยู่ใน Localstorage ---------------------------------------------->
                <p class="title">ตะกร้าสินค้า</p>
                <div class="card mb-4" v-for="product in products">
                    <div class="card-content p-0">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img :src="product.image"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content pt-2">
                                <p class="has-text-grey-light is-size-7">รหัส #{{ product.id }}</p>
                                <p class="is-5">{{ product.name }}</p>
                                <div style="display: flex;justify-content: space-between;">
                                    <div>
                                        <span class="is-6 has-text-danger">
                                            {{ product.price }}
                                        </span>
                                        <span>x {{ product.quantity }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="columns is-size-4">
                <div class="column is-2 is-offset-7">
                    ราคารวม
                </div>
                <div class="column is-3 has-text-right">
                    <!-- Total here ---------------------------------------- -->
                    12750
                </div>
            </div>

            <hr style="height: 1px; background: rgb(221, 212, 212);">

            <!-- <h1 class="is-size-4">User Info</h1>
            <br> -->




            <!-- Form Column --------------------------------------- -->
            <!-- <div class="columns">
                <div class="column">
                    <label class="label">ชื่อ</label>
                    <div class="control">
                        <input class="input" type="text" v-model="fname">
                    </div>
                </div>
                <div class="column">
                    <label class="label">นามสกุล</label>
                    <div class="control">
                        <input class="input" type="text" v-model="lname">
                    </div>
                </div>
                <div class="column">
                    <label class="label">เบอร์โทรศัพท์</label>
                    <div class="control">
                        <input class="input" type="text" v-model="tel">
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <label class="label">ที่อยู่</label>
                    <textarea class="textarea" placeholder="e.g. บ้านเลขที่ 123 ลาดกระบัง ...." v-model="address"></textarea>
                    <p id="check" v-if="checkk == true">กำลังพิมพ์</p>
                </div>
            </div> -->


            <!-- click this button to open Order modal ----------------- -->
            <div class="has-text-centered">
                <a class="button is-warning" @click="modal_confirm_order = !modal_confirm_order">Confirm Order</a>
            </div>
            <br>

            <!-- Modal ของตารางใบเสร็จ ------------------------------------------------------------------>
            <div class="modal" v-bind:class="{'is-active':modal_confirm_order}">
                <div class="modal-background" @click="modal_confirm_order = !modal_confirm_order"></div>
                <div class="modal-card" style="max-width: 960px;width: 90%;">
                    <section class="modal-card-body">
                        <div class="columns is-size-4">
                            <p class="column is-4 subtitle has-text-danger">Order สินค้าหมายเลข 1</p>
                            <div class="column is-4">
                                <img src="image/logo.jpg" alt="">
                            </div>
                            <p class="column is-4 subtitle has-text-right">เลขบัญชีร้านค้า <br>xxx-x-xxxxx-x</p>
                        </div>

                        <table id='order-table' style="width: 100%;" class="table is-bordered">
                            <!-- ใส่ข้อมูลของ table ไว้ในนี้ -------------------------------------------->
                            <tr>
                                <th colspan="4" style="text-align: center;">Order Detail</th>
                            </tr>
                            <tr>
                                <td colspan="2"><b>ชื่อ : Manee Kongsangthai</b></td>
                                <td colspan="2"><b>ที่อยู่ : Tha Raeng, Bang Khen, Bangkok 10220</b></td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center;">รายการสินค้า</td>
                            </tr>
                            <tr>
                                <td><b>ชื่อสินค้า</b></td>
                                <td><b>ราคาต่อหน่วย</b></td>
                                <td><b>จำนวน</b></td>
                                <td><b>ราคารวม</b></td>
                            </tr>
                            <tr v-for="item in products">
                                <td>{{item.name}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price * item.quantity}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td><b>ราคารวมทั้งหมด</b></td>
                                <td><b>12750</b></td>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>

        </div>

        <!-- (3) ส่วนท้าย -->
        <footer id="end" class="footer">
            <div class="content has-text-centered">
                © สงวนลิขสิทธิ์ 2022 โดย MartNextGen จำกัด
            </div>
        </footer>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                shopName: 'MartNextGen',
                show_login: false,
                modal_confirm_order: false,
                counter: 1,
                products: [
                    {
                        id: 1,
                        name: 'Sorbet lemon',
                        price: 150,
                        image: 'https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Lemon-Sherbet_EXPS_FT21_35597_F_0520_1.jpg',
                        quantity: 5
                    },
                    {
                        id: 2,
                        name: 'Deathnote lecture',
                        price: 1200,
                        image: 'https://cf.shopee.co.th/file/2ec54f4b86212faa5d1ad3b600bc26f6',
                        quantity: 10
                    },

                ]
            }
        })
    </script>
</body>

</html>